*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --text1-color: #E31937;
    --text2-color: #20273E;
    --text3-color: #606E8F;

    --div1-color: #20273E;
    --div2-color: #F0F3F5;

    --block1-color: #7AC7FC;
    --block2-color: #DEEEFA;
    --block3-color: #0F99FF;

    --font-family: "Metrophobic", sans-serif;

    --margin-top-: 50px;
}

.motherbox{
    width: 1200px;
    height: auto;
    margin: auto;
}

body{
    width: 100vw;

}
a{
    text-decoration: none ;
}

header{
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.352);
    z-index: 10;

}
.left{
    display: flex;
    width: 50%;
}
.lefttext{
    padding-top: 10px;
}
.left .up{
    display: flex;
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
    color: #20273E;

}
.down{
    color: var(--text1-color);
    font-family:cursive;
}
.right{
    display: flex;
    padding-right: 20px;
    max-width: 500px;
    
}
.right>p{
    color: var(--text1-color);
    font-family: var(--font-family);
    font-size: 15px;
    width: 60px;
    margin-right: 8px;
    font-weight: 700;
}
.right>p:last-child{
    width: 85px;
}
.right>p>a{
    color: #20273E;
}
.right>p>a:hover{
    color: var(--text1-color);
}